[general]
logging_level = WARNING
default_plot_dt = 0.1
default_hdf_dt = 0.5
run_name = test
hdf_loop_delay = 0.5
monitoring_dt = 0.2
custom_command = Enter command ...
custom_device = Select device ...

[run_attributes]
units = s

[files]
config_dir = C:\Users\qw95\github\SrF-lab-control\config\
hdf_fname = C:\Users\qw95\github\SrF-lab-control\data.hdf
plotting_hdf_fname = C:\Users\qw95\github\SrF-lab-control\data.hdf
plotting_config_fname = C:\Users\qw95\github\SrF-lab-control\saved_plotsconfig.bin
sequence_fname = C:\Users\qw95\github\SrF-lab-control\sequence.txt

[influxdb]
enabled = False
host =
port =
username =
password =
database = SrFDB
